body *{
    font-family: 'Nunito Sans', sans-serif;
}

body, html {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-weight: 665;
    font-family: 'Merriweather', serif;
    font-size: 38px;
    margin-bottom: 10px;
}

.section-buttons {
    position: sticky;
    top: 0;
    background-color: #f0eae1;
    padding: 10px 0;
    z-index: 1000;
    display: inline-block;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 8px;
}

.pure-button {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
    border-radius: 10px;
    
}


.pure-button:hover {
    background-color: rgba(235, 243, 210, 0.1)
}

.pure-button:not(:last-child)::after {
    content: '|';
    color: #b4b4b4;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    position: absolute;
    right: -25px;
}

.pure-button:first-child {
    margin-left: 20px;
}

.pure-button:last-child {
    margin-right: 20px;
}

body {
    background-color: #f2efeb;
}

.page {
    max-width: 1305px;
    background-color: #f2efeb;
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 8px;
    padding-bottom: 2px;
}

.vis-container {
    align-self: left;
    width: 800px;
    margin: 0 auto;
    height: auto;
}

.description {
    width: 100%;
}

h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0px;
}

h3 {
    font-size: 19px;
    font-weight: 650;
    margin-top: 4px;
}

p {
    font-size: 18px;
    margin-top: 0px;
}

h6 {
    font-size: 13px;
    font-weight: 500;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 15px;
}

.small-font {
    font-size: 14px;
}

.footer-font {
    font-size: 10px;
    margin-bottom: 0px;
}

.pure-u-1-1 {
    text-align: center;
    background-color: #f0eae1;
    padding: 4px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
}
